<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>POLLO RICO</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="~/plugins_session/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/plugins_session/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- Custom Css -->
    <link href="~/css_session/style.min.css" rel="stylesheet" />
    <link href="~/css_session/style.css" rel="stylesheet" />
    
</head>
<body class="login-page" background="https://tiendalena.com/wp-content/uploads/2019/08/bonfire-burning-burnt-266604.jpg">
    <div class="login-box">
        <div class="logo">
            <a href="Login.html"><font color="#b98e02"><b>P</b></font>OLLO<font color="#b98e02"><b> R</b></font>ICO</a>

        </div>
    <div>
        @RenderBody()
    </div>
    </div>
</body>
</html>
