<div class="container">
    <div class="text-center">
        <br /><br />
        <br /><br />
        <h2 class="section-heading text-uppercase">About Us</h2>
        <h3 class="section-subheading text-muted">POLLO RICO</h3>
    </div>
    <ul class="timeline">
        <li>
            <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/Images/emprendimiento.jpg" /></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>........</h4>
                    <h4 class="subheading">Proposito</h4>
                </div>
                <div class="timeline-body"><p class="text-muted">..........</p></div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/Images/objetivos.jpg" /></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>.................</h4>
                    <h4 class="subheading">Objetivo</h4>
                </div>
                <div class="timeline-body"><p class="text-muted">........................</p></div>
            </div>
        </li>
        <li>
            <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/Images/datos.jpg" /></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>.........</h4>
                    <h4 class="subheading">Datos</h4>
                </div>
                <div class="timeline-body"><p class="text-muted">....................</p></div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-image"><img class="rounded-circle img-fluid" src="~/Images/conclusion.jpg" /></div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>............</h4>
                    <h4 class="subheading">Conclusión</h4>
                </div>
                <div class="timeline-body">
                    <p class="text-muted">
                        .................
                    </p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-image">
                <h4>
                    Se
                    <br />
                    Parte de
                    <br />
                    Nosotros!
                </h4>
            </div>
        </li>
    </ul>
</div>
<link href="~/css/efecto flip/acerca.css" rel="stylesheet" />