  <!--SERVICIOS-->

    <div class="body-content">
        <div class="text-center">
            <h2 class="text-uppercase">Servicios</h2>
            
        </div>
        <div class="row ">
            <div class="col-md-4">
                <div class="team-member">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4>E-Commerce</h4>
                    <p class="text-muted">Se maneja estructuradamente los datos de los productos, clientes y pagos.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Alcance</h4>
                    <p class="text-muted">Extender el alcance del comercio y aumentar la clientela por medio de un sitio web donde pueden realizar la facturacion de manera mas efectiva, rapida y simple.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Base de Datos</h4>
                    <p class="text-muted">La optimización, estructuración y organización de datos además de darle valor al negocio y facilitar la extracción de reportes en base a los procesos de este..</p>
                </div>
            </div>
        </div>
    </div>


<!--EQUIPO-->

    <div class="body-content">
        <div class="text-center">
            <h2 class="text-uppercase">Nuestro Equipo</h2>
            
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/Images/JLV.png" alt="..." />
                <h4>José Daniel Gómez Jiménezz</h4>
                    <p class="text-muted">Desarrollador</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/Images/JMO.png" alt="..." />
                <h4> José Carlos Montenegro Castro</h4>
                    <p class="text-muted">Desarrollador</p>
                    <a class="btn btn-dark  mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/Images/OMC.png" alt="..." />
                    <h4>Oney José Montenegro Cerdas</h4>
                    <p class="text-muted">Desarrollador</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                <img src="~/images/informes-whataspp-sjconsulting.png" class="mx-auto rounded-circle" alt="..." />
                    <h4>Fátima Muñoz Narváez</h4>
                    <p class="text-muted">Desarrolladora</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>


<link href="~/css/efecto flip/contact.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>