@{
    ViewData["Title"] = "Home Page";
}



<!-- fashion section start -->
<div class="fashion_section">
    <div id="main_slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">

                    <br /><br />
                    <br /><br />
                    <h1 class="fashion_taital">Pollos Asados</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="flip-container">
                                    <div class="card">
                                        <div class="front">
                                              <div class="box_main">
                                                <h4 class="shirt_text">AQUI VA EL MUSLO DE POLLO</h4>
                                                <p class="price_text">Price  <span style="color: #262626;">$ 30</span></p>
                                                
                                                
                                                </div>
                                               </div>
                                              <div class="back">
                                                <p>Descripcion</p>
                                            <div class="btn_main">
                                                <br /><br />
                                                <br />
                                                <div class="buy_bt"><a href="#">Buy Now</a></div>
                                            </div>
                                            </div>                                        
                                    </div>
                                </div>
                            </div>
                        <div class="col-lg-4 col-sm-4">
                                <div class="flip-container">
                                    <div class="card">
                                        <div class="front">
                                            <div class="box_main">
                                                <h4 class="shirt_text">AQUI VA EL MUSLO DE POLLO</h4>
                                                <p class="price_text">Price  <span style="color: #262626;">$ 30</span></p>


                                            </div>
                                        </div>
                                        <div class="back">
                                            <p>Descripcion</p>
                                            <div class="btn_main">
                                                <br /><br />
                                                <br />
                                                <div class="buy_bt"><a href="#">Buy Now</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="flip-container">
                                    <div class="card">
                                        <div class="front">
                                            <div class="box_main">
                                                <h4 class="shirt_text">AQUI VA EL MUSLO DE POLLO</h4>
                                                <p class="price_text">Price  <span style="color: #262626;">$ 30</span></p>


                                            </div>
                                        </div>
                                        <div class="back">
                                            <p>Descripcion</p>
                                            <div class="btn_main">
                                                <br /><br />
                                                <br />
                                                <div class="buy_bt"><a href="#">Buy Now</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <br /><br />
                    <br /><br />
                    <!-- 

                    SEGUNDO CARRUSEL

                    -->
                    <h1 class="fashion_taital">Pollos Fritos</h1>
                    <div class="fashion_section_2">
                        <div class="row">
                            <div class="col-lg-4 col-sm-4">
                                <div class="flip-container">
                                    <div class="card">
                                        <div class="front">
                                            <div class="box_main">
                                                <h4 class="shirt_text">AQUI VA EL MUSLO DE POLLO</h4>
                                                <p class="price_text">Price  <span style="color: #262626;">$ 30</span></p>


                                            </div>
                                        </div>
                                        <div class="back">
                                            <p>Descripcion</p>
                                            <div class="btn_main">
                                                <br /><br />
                                                <br />
                                                <div class="buy_bt"><a href="#">Buy Now</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="flip-container">
                                    <div class="card">
                                        <div class="front">
                                            <div class="box_main">
                                                <h4 class="shirt_text">AQUI VA EL MUSLO DE POLLO</h4>
                                                <p class="price_text">Price  <span style="color: #262626;">$ 30</span></p>


                                            </div>
                                        </div>
                                        <div class="back">
                                            <p>Descripcion</p>
                                            <div class="btn_main">
                                                <br /><br />
                                                <br />
                                                <div class="buy_bt"><a href="#">Buy Now</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4">
                                <div class="flip-container">
                                    <div class="card">
                                        <div class="front">
                                            <div class="box_main">
                                                <h4 class="shirt_text">AQUI VA EL MUSLO DE POLLO</h4>
                                                <p class="price_text">Price  <span style="color: #262626;">$ 30</span></p>


                                            </div>
                                        </div>
                                        <div class="back">
                                            <p>Descripcion</p>
                                            <div class="btn_main">
                                                <br /><br />
                                                <br />
                                                <div class="buy_bt"><a href="#">Buy Now</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
      
        <a class="carousel-control-next" href="#main_slider" role="button" data-slide="prev">
            
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="next">

            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
<!-- fashion section end -->

<link href="~/css/efecto flip/eventflip.css" rel="stylesheet" />