<br /><br />
<br /><br />

<div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-pink hover-expand-effect">

            <a href="#">
                    <div class="icon">
                        <i class="material-icons">shopping_basket</i>
                    </div>
                </a>
                <div class="content">
                    <div class="text">PRODUCTOS</div>
                    <div class="number count-to" data-from="0" data-to="5000" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-cyan hover-expand-effect">
            <a href="#">
                    <div class="icon">
                        <i class="material-icons">low_priority</i>
                    </div>
                </a>
                <div class="content">
                    <div class="text">CATEGORÍAS</div>
                    <div class="number count-to" data-from="0" data-to="50" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>



        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-light-green hover-expand-effect">
            <a href="#">
                    <div class="icon">
                        <i class="material-icons">supervisor_account</i>
                    </div>
                </a>
                <div class="content">
                    <div class="text">CLIENTES</div>
                    <div class="number count-to" data-from="0" data-to="675" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-orange hover-expand-effect">
                <a href="#">
                    <div class="icon">
                        <i class="material-icons">monetization_on</i>
                    </div>
                </a>
                <div class="content">
                    <div class="text">FACTURACIÓN</div>
                    <div class="number count-to" data-from="0" data-to="800" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- SubMenu2 -->
    <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-pink hover-expand-effect">
            <a href="#">
                    <div class="icon">
                        <i class="material-icons">business</i>
                    </div>
                </a>
                <div class="content">
                    <div class="text">PROVEEDORES</div>
                    <div class="number count-to" data-from="0" data-to="29" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-cyan hover-expand-effect">
            <a href="#">
                    <div class="icon">
                        <i class="material-icons">person_pin</i>
                    </div>
                </a>
                <div class="content">
                    <div class="text">PERSONAL</div>
                    <div class="number count-to" data-from="0" data-to="12" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>


        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-light-green hover-expand-effect">
            <a href="#">
                    <div class="icon">
                        <i class="material-icons">trending_up</i>
                    </div>
                </a>
                <div class="content">
                    <div class="text">Direccion</div>
                    <div class="number count-to" data-from="0" data-to="6" data-speed="1000" data-fresh-interval="20"></div>
                </div>
            </div>
        </div>



        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box hover-zoom-effect">
                <a href="#">
                    <div class="icon bg-purple">
                        <i class="material-icons">brightness_low</i>
                    </div>
                </a>
                <div class="content">
                    <div class="text">MI CUENTA</div>
                </div>
            </div>
        </div>
    </div>

<!-- Google Font - Iconos -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

<!-- Animation Css -->

<link href="~/plugins_maint/animate-css/animate.css" rel="stylesheet" />
<link href="~/plugins_maint/animate-css/animate.min.css" rel="stylesheet" />
<link href="~/css_maint/style.css" rel="stylesheet" />






        
    