@{
    Layout = "~/Views/Shared/_Layout_SESSION.cshtml";
}



<div class="card">
    <div class="body">
        <form id="forgot_password" method="POST">
            <div class="msg">
                <div align="justify">Enter your email address that you used to sign up.<br><br> We will send you an email with your username and a link to reset your password.</div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">email</i>
                </span>
                <div class="form-line">
                    <input type="email" class="form-control" name="email" placeholder="E-mail" required autofocus>
                </div>
            </div>

            <button class="btn btn-block btn-lg bg-red waves-effect" type="submit">Restore password</button>

            <div class="row m-t-15 m-b--20">
                <div class="col-xs-6">
                    <a href="@Url.Action("Log_In","SESSION")">Log In</a>
                </div>
                <div class="col-xs-6 align-right">
                    <a href="@Url.Action("Log_Out","SESSION")">Register Now</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/plugins_session/bootstrap/js/bootstrap.min.js"></script>
<script src="~/plugins_session/bootstrap/js/bootstrap.js"></script>
<!-- Waves Effect Plugin Js -->


<script src="~/plugins_session/node-waves/waves.min.js"></script>
<script src="~/plugins_session/node-waves/waves.js"></script>